{
  "tabWidth": 2,
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"],
  "semi": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "es5"
}
