@require "../../stylesheets/base"
@import "../../stylesheets/nav"
@import "../../stylesheets/footer"

section#intro
	img
		position: absolute
		width: 40vh
		right: -50px
		top: -50px
		opacity: 0.1

	em
		font-style: normal
		color: #000
		font-size: 20px
		padding-left: 10px
		border-left: 3px solid var(--accent-color-1)
		display: inline-block

	p
		color: #222
		font-size: 18px
		margin: 30px 0
		line-height: 1.5

	a
		color: var(--accent-color-7)
		anchorLinkBottomBar(25%, alpha($accent-colors[4], 0.2))

section#content
	margin: 7vh auto

	.listBody
		padding: 30px 0
		border-top: 3px solid var(--accent-color-0)

	h2
		font-size: 23px
		color: #333
		margin-bottom: 30px

	h3
		font-size: 21px
		color: #444
		margin: 20px 0

	li
		font-size: 16px
		line-height: 1.6
		list-style-position: inside
		list-style-type: none
		margin: 20px 0
		padding: 10px
		border-radius: 10px
		box-shadow: 0 0 20px #e7e7e7
		transition: opacity 0.1s linear, box-shadow 0.1s linear

		&:hover,
		&:focus-within
			box-shadow: 0 0 30px #d7d7d7

		p.description
			margin-top: 5px

		.sub
			margin-top: 10px
			font-size: 14px
			font-style: italic
			color: #555
			display: flex
			justify-content: space-between

		&:last-child
			margin-bottom: 0

		.title
			display: flex
			justify-content: space-between
			align-items: center

		.language
			display: flex
			align-items: center
			font-size: 12px
			color: #555
			margin-left: 10px
			font-weight: bold

			.circle
				height: 10px
				width: 10px
				border-radius: 50%
				margin-right: 5px

		a
			font-weight: 500
			font-size: 18px
			color: var(--accent-color-9)
			text-decoration: underline
			text-decoration-color: var(--accent-color-2)

		&.archived
			opacity: 0.3
			&:hover,
			&:focus,
			&:focus-within
				opacity: 1
