- const {options} = htmlWebpackPlugin;

//- Head generator mixin
include ../../templates/head.pug
//- Navigation
include ../../templates/nav.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Projects · Mihir Chaturvedi',
			undefined,
			'https://mihir.ch/projects'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/projects.css")

	body

		+nav('Projects')

		main

			section#intro

				h1 Projects

				p Enim ea sunt sit laborum voluptate et velit amet ullamco aliquip consectetur aliqua.

			section.markdown-body#content

				include:markdown-it(html=true) ../../content/projects.md

		//- Footer
		include ../../templates/footer.pug

	//- Load scripts after </body> and before </html>
	script(src="/assets/js/projects.js" defer)
