section#activity

	> p
		font-size: 20px;
		color: #333;
		margin: 20px 0;
		line-height: 1.5;

		&.update
			color: #444
			font-style: italic
			font-size: 16px

		&.sub
			color: #444
			font-size: 18px

		span.nowrap
			white-space: nowrap

	.gallery
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin: 30px -20px

	.card
		min-width: 350px
		margin: 20px
		display: flex
		flex-direction: column
		flex: 1

	h3
		font-size: 25px
		font-family: var(--mono-font-stack)
		margin-bottom: 10px
		color: #333

		span
			font-size: 16px
			color: #757575
			font-weight: normal

	.stats
		margin: 10px 0 20px 0
		font-size: 18px
		flex: 1

		p
			display: flex
			margin: 5px 0

		span.label
			flex: 1

		span.stat
			font-family: var(--mono-font-stack)
			font-weight: bold

	ul, ol

		li
			display: flex
			height: 50px
			font-size: 18px
			align-items: center
			margin: 10px 0

			p
				height: 100%
				display: flex
				align-items: center

				&.rank
					padding-right: 10px
					color: #757575

				&.name
					flex: 1
					padding: 0 10px
					display: flex
					justify-content: space-between

			img
				height: 50px
				width: 50px
				display: block
				margin: 0 auto
				object-fit: cover

	a::after
		content: '↗'
		color: #666
		margin-left: 3px

	p.source
		margin-top: 10px
		font-size: 16px
		color: #757575

		a
			color: var(--accent-color-7)

	.card#hn
		ol li
			height: unset
			margin: 20px 0 0 30px
			display: list-item
			line-height: 1.5

			div.comment
				font-size: 16px
				font-style: italic
				color: #333

				*
					margin: 10px 0

			> a
				vertical-align: top
				color: #000000

			p.sub
				margin-top: 5px
				color: #757575
				font-size: 15px

				a
					color: var(--accent-color-7)
					&::after
						content: ''

		button
			margin: 20px 0
			display: inline-block
			width: fit-content
			background: none
			border: none
			font-size: 16px
			font-family: var(--default-font-stack)
			color: var(--accent-color-9)
			text-decoration: underline
			cursor: pointer
