section#contact

	p
		font-size: 20px
		color: #333
		margin: 20px 0
		line-height: 1.5

		&.status
			font-size: 22px
			color: #000

		a
			color: var(--accent-color-9)
			anchorLinkBottomBar(25%, alpha($accent-colors[4], 0.15))

	.networks
		width: 100%
		display: flex
		flex-flow: wrap
		margin: 0px -15px
		color: var(--accent-color-9)

		a
			display: flex
			justify-content: center
			align-items: center
			margin: 10px 15px
			padding: 5px 10px
			font-weight: 500
			anchorLinkBottomBar(35%, alpha($accent-colors[4], 0.15))

			img
				height: 25px
				margin-right: 5px
