title Mihir Chaturvedi

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width initial-scale=1.0 minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://mihir.ch/")
meta(name="description" content="Mihir Chaturvedi is a UX developer from New Delhi, India")

meta(property="og:type" content="website")
meta(property="og:title" content="Mihir Chaturvedi")
meta(property="og:url" content="https://mihir.ch/")
meta(property="og:locale" content="en_IN")
meta(property="og:description" content="Mihir Chaturvedi is a UX developer from New Delhi, India")

meta(name="twitter:card" content="website")
meta(name="twitter:title" content="Mihir Chaturvedi")
meta(name="twitter:site" content="https://mihir.ch/")
meta(name="twitter:description" content="Mihir Chaturvedi is a UX developer from New Delhi, India")

meta(name="theme-color" content="#ffffff")
meta(name="msapplication-config" content="/assets/img/icons/browserconfig.xml")
link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png")
link(rel="manifest" href="/assets/img/icons/manifest.json")
link(rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5")
link(rel="shortcut icon" href="/assets/img/icons/favicon.ico")

link(rel="stylesheet" type="text/css" href="/assets/css/index.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lustria")

//- Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-86157079-4')
script window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js' new Date());gtag('config' 'UA-86157079-4');