title Mihir Chaturvedi

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width initial-scale=1.0 minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://mihir.ch/")
meta(name="description" content="Mihir Chaturvedi is a UX developer from New Delhi India")

meta(property="og:type" content="website")
meta(property="og:title" content="Mihir Chaturvedi")
meta(property="og:url" content="https://mihir.ch/")
meta(property="og:locale" content="en_IN")
meta(property="og:description" content="Mihir Chaturvedi is a UX developer from New Delhi India")

meta(name="twitter:card" content="website")
meta(name="twitter:title" content="Mihir Chaturvedi")
meta(name="twitter:site" content="https://mihir.ch/")
meta(name="twitter:description" content="Mihir Chaturvedi is a UX developer from New Delhi India")

link(rel="icon" href="/images/favicon.ico")

link(rel="stylesheet" type="text/css" href="/assets/css/index.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral+SC:300400500600700800")

script(type="text/javascript" src="/assets/js/main.js")