div.border
	position fixed
	background white
	
	&.top, &.bottom
		left 0
		right 0
		height 10px
		width 100%
		
	&.right, &.left
		top 0
		bottom 0
		height 100%
		width 10px
		
	&.top
		top 0
	
	&.bottom
		bottom 0
	
	&.right
		right 0
	
	&.left
		left 0
	

section.main
	height 100%
	width 100%
	padding 20px 20px 0 20px
	display flex
	align-items center
	h1
		font-family "Spectral SC"
		font-weight 800
		font-size 500%
		color white
		margin 0 0 0 10%
		border-bottom 2px solid white