@charset "utf-8"

html, body, :root
	width 100%
	height 100%
	background #fff

::selection
	color #fff
	background #008080

*
	padding 0
	margin 0
	box-sizing border-box
	text-rendering optimizeLegibility

a
	&:link, &:visited, &:hover, &:visited:hover, &:focus
		text-decoration none