- const {options} = htmlWebpackPlugin

section.contact#contact

	h2 ☎️ Contact

	p.status I am <span>currently accepting</span> new freelance projects.

	p The best way to get in touch with me is to email at <a href="mailto:mail@chaturvedi.dev">mail@chaturvedi.dev</a>. <br> For a more informal tête-à-tête, you can contact me on <a href="https://t.me/plibither8">Telegram</a>.

	p Otherwise, you can connect with or follow me on any of the following networks too:

	.networks

		each network in options.networks

			a(href=network.link rel="noopener" target="_blank")
				img(src=network.icon alt=`${network.name} Logo`)
				| !{network.name}
