section#activity

	include:markdown-it(html=true) ../../../content/index/activity.md

	.gallery

		.card#programming

			h3 Programming
				span , this week in

			.stats

				p
					span.label Total time
					span.stat

				p
					span.label Daily average
					span.stat

			ul

			p.source Source:&nbsp;
				a(href="https://wakatime.com/@plibither8" target="_blank" rel="noopener") WakaTime

		.card#music

			h3 Music
				span , this week in

			.stats

				p
					span.label Total tracks scrobbled
					span.stat

			ul

			p.source Source:&nbsp;
				a(href="https://last.fm/user/plibither8" target="_blank" rel="noopener") Last.fm

		.card#hn

			h3 Favorited on HN
				span , recently

			ol

			button Load more

			p.source View on:&nbsp;
				a(href="https://news.ycombinator.com/favorites?id=plibither8" target="_blank" rel="noopener") Hacker News
