- const {projects} = htmlWebpackPlugin.options;

section#projects.--collapsed

	h2 ✨ Featured Projects
		button.toggler.parent-controller(aria-label="Expand") ++

	.gallery
		each project in projects
			//- projectCard mixin is under ./mixins.pug
			+projectCard(project)

	a(href="/projects").viewAll View all projects...
