include ./mixins.pug

section#projects.--collapsed

	h2 ✨ Featured Projects
		button.toggler.parent-controller(aria-label="Expand") ++

	.gallery
		each project in options.projects
			+projectCard(project)

	a(href="/projects").viewAll View all projects...
