section.contact

	p
		font-size: 20px
		color: #333
		margin: 20px 0
		line-height: 1.5

		&.status
			font-size: 22px
			color: #000

		a
			color: $accent-color-6

			&::before
				content: ''
				position: absolute
				bottom: 0
				width: 100%
				height: 25%
				background: alpha($accent-color-4, 0.2)
				transition: 0.1s all linear

			&:hover, &:focus
				&::before
					height: 100%

	.networks
		width: 100%
		display: flex
		flex-flow: wrap
		margin: 0px -15px
		color: $accent-color-9

		a
			display: flex
			justify-content: center
			align-items: center
			margin: 10px 15px
			padding: 5px 10px
			font-family: $mono-font-stack
			font-weight: bold

			img
				height: 25px
				margin-right: 5px

			&::before
				content: ''
				position: absolute
				display: block
				bottom: 0
				height: 35%
				width: 100%
				background: alpha($accent-color-4, 0.15)
				transition: 0.1s all linear

			&:hover, &:focus
				&::before
					height: 100%

	form
		display: flex
		flex-direction: column
		max-width: 600px
		margin-top: 2vh

		label
			font-size: 20px
			font-weight: bold
			color: #444
			margin-top: 20px

		input, textarea
			border: 3px solid $accent-color-0
			margin: 5px 0
			padding: 10px
			font-size: 16px
			border-radius: 3px
			font-family: $default-font-stack
			transition: .1s
			color: #222
			line-height: 1.5

			&[type="submit"]
				width: 100px
				color: $accent-color-5
				background: $accent-color-0
				cursor: pointer
				margin-top: 20px
				font-weight: bold

			&[type="email"]
				font-family: $mono-font-stack

			&:active, &:focus
				border-color: $accent-color-2
				outline: none

			&:hover
				box-shadow: 0 0 10px $accent-color-0

		textarea
			resize: vertical
			height: 150px
