section#projects

	.card
		margin: 40px 0

		> a
			display: inline-block
			anchorLinkBottomBar(25%, alpha($accent-colors[4], 0.2))

			h3
				font-size: 25px
				font-weight: normal
				color: #000
				font-family: var(--mono-font-stack)

				&::after
					content: '↗'
					color: var(--accent-color-1)
					transition: 0.1s all linear

			&:hover, &:focus
				color: var(--accent-color-5)

				h3::after
					color: inherit

		p.caption
			font-size: 18px
			color: #222
			margin: 10px 0
			line-height: 1.5

			time
				white-space: nowrap
				font-size: 18px
				color: #757575

			span
				font-style: normal

			button
				border: none
				background: var(--accent-color-0)
				font-family: monospace
				color: var(--accent-color-5)
				font-size: 20px
				font-weight: bold
				cursor: pointer
				margin-left: 5px
				padding: 0 5px
				border-radius: 3px
				z-index: 2

		.details
			font-size: 17px
			color: #000
			line-height: 1.5
			overflow: hidden
			padding-top: 10px
			min-height: 120px
			margin: -20px 0 0 0

			picture
				display: block
				position: absolute
				right: 0
				opacity: 0.15

				img
					margin: 0 auto 20px auto
					display: block
					max-height: 200px
					min-height: 50px
					max-width: 100%

			p.text
				z-index: 2
				margin: 20px 0

				img
					vertical-align: text-bottom

			a
				color: var(--accent-color-7)
				&::after
					content: '↗'

			a.links
				font-size: 18px
				margin-right: 20px
				font-family: var(--mono-font-stack)
				display: inline-block
				anchorLinkBottomBar(35%, alpha($accent-colors[3], 0.1))

				&.source
					font-weight: bold
