footer

	p Good times, good times

	p &copy; 2017&mdash;!{new Date().getFullYear()} Mihir Chaturvedi

	a(href="https://madewithlove.org.in" target="_blank" rel="noopener")
		img(src="https://madewithlove.now.sh/in?heart=true&colorB=%23ff9933&template=flat-square" alt="Made with love in India")
