head
	title Mihir Chaturvedi | plibither8

	// Primary meta tags
	meta(name="title" content="Mihir Chaturvedi")
	meta(name="description" content="Mihir Chaturvedi is primarily a UX developer, big-time JavaScripter, small-time designer and a full-time student at IIIT Delhi")
	meta(name="keywords" content="Mihir, Chaturvedi, plibither8, Mihir Chaturvedi, ProjectBeta, Sanskriti, Sanskriti School, IIITD")
	meta(name="robots" content="index, follow")
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0")
	meta(name="language" content="English")
	meta(name="author" content="Mihir Chaturvedi (plibither8)")

	// Open Graph / Facebook
	meta(property="og:type" content="website")
	meta(property="og:url" content="https://mihir.ch/")
	meta(property="og:title" content="Mihir Chaturvedi")
	meta(property="og:description" content="Mihir Chaturvedi is primarily a UX developer, big-time JavaScripter, small-time designer and a full-time student at IIIT Delhi")
	meta(property="og:image" content="")

	// Twitter
	meta(property="twitter:card" content="summary_large_image")
	meta(property="twitter:url" content="https://mihir.ch/")
	meta(property="twitter:title" content="Mihir Chaturvedi")
	meta(property="twitter:description" content="Mihir Chaturvedi is primarily a UX developer, big-time JavaScripter, small-time designer and a full-time student at IIIT Delhi")
	meta(property="twitter:image" content="")

	// Theming and icons
	meta(name="msapplication-TileColor" content="#984c6b")
	meta(name="msapplication-config" content="/static/icons/browserconfig.xml")
	meta(name="theme-color" content="#fceaf3")

	link(rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png")
	link(rel="manifest" href="/static/icons/site.webmanifest")
	link(rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#984c6b")
	link(rel="shortcut icon" href="/static/icons/favicon.ico")

	// Styles
	link(rel="stylesheet" href="index.css")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap")
