nav
	a.link(href="/") Home
	a.link(href="#projects") Projects
	a.link(href="#contact") Contact
	a.link(href="https://github.com/plibither8" target="_blank" rel="noopener") GitHub
	a.link(href="https://twitter.com/plibither8" target="_blank" rel="noopener") Twitter
