@charset "utf-8"

@import "variables"
@import "functions"
@import "universal"

body, html
	background: #fff
	overflow-y: auto
	font-family $default-font-stack
	font-size 16px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-overflow-scrolling: touch
