footer
	max-width: 800px
	width: 100%
	padding: 2vh 0
	margin: 0 auto 0 auto
	border-top: 3px solid #f1f1f1

	p, a
		margin: 10px 0
		color: #777
		line-height: 1.5
		text-align: center
		display: block
