anchorLinkBottomBar(height, color)
	&::before
		content: ''
		position: absolute
		display: block
		bottom: 0
		left: 0
		height: height
		width: 100%
		background: color
		transition: 0.1s all linear

	&:hover, &:focus
		&::before
			height: 100%
