nav
	width: 95%
	max-width: 800px
	margin: 2vh auto 0 auto
	border: 3px solid $accent-color-5
	background: #fff
	display: flex
	overflow-x: auto
	border-radius: 3px
	box-shadow: 4px 5px 0px $accent-color-3
	transition: 0.1s all ease-out

	&:hover
		box-shadow: 8px 7px 0px $accent-color-3

	a.link
		display: flex
		padding: 15px
		color: $accent-color-3
		font-weight: bold
		user-select: none
		justify-content: center
		align-items: center
		flex: 1
		white-space: nowrap

		img
			height: 19px

		&:hover
			background: $accent-color-0
			color: $accent-color-5
