nav
	width: 95%
	max-width: 800px
	margin: 0 auto
	justify-content: flex-start
	flex-flow: wrap
	padding: 1vh 10px

	a.button
		min-width: 150px
		border: 3px solid #f1c3d6
		margin: 10px 10px 0 0
		padding: 8px 5px
		text-align: center
		flex: 1
		color: #b34871
		font-weight: bold
		user-select: none

		img
			height: 19px

		&:hover
			border: 3px solid #ff8fbe
			background: #ffe6f0