::selection
    background: alpha($accent-color-9, 0.25)

*
	padding: 0
	margin: 0
	position: relative
	box-sizing: border-box
	text-rendering: optimizeLegibility

*.flex
	display: flex
	align-items: center
	justify-content: center

*.noselect
	user-select: none

*.nodisplay
	display: none !important

a
	text-decoration: none
	color: inherit

	&:visited
		color: inherit 
