::selection
    color: #983c5f
    background: #f1c3d6ba

*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	text-rendering optimizeLegibility

*.flex
	display flex
	align-items center
	justify-content center

*.noselect
	user-select none

*.nodisplay
	display none

a
	text-decoration none
	color inherit

	&:visited
		color inherit
