::selection
	background: #8bc34a30
	color: $accent-color-9

*
	padding: 0
	margin: 0
	position: relative
	box-sizing: border-box
	text-rendering: optimizeLegibility

*.flex
	display: flex
	align-items: center
	justify-content: center

*.noselect
	user-select: none

*.nodisplay
	display: none !important

a
	text-decoration: none
	color: inherit

	&:visited
		color: inherit 

a, button
	&:focus
		outline: 2px solid $accent-color-9
