// Fonts
$default-font-stack = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
$mono-font-stack = 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', 'Ubuntu Mono', Menlo, Courier, monospace;

// Colors
$base-color = #000000

$accent-color-0 = #EDE7F6
$accent-color-1 = #D1C4E9
$accent-color-2 = #B39DDB
$accent-color-3 = #9575CD
$accent-color-4 = #7E57C2
$accent-color-5 = #673AB7
$accent-color-6 = #5E35B1
$accent-color-7 = #512DA8
$accent-color-8 = #4527A0
$accent-color-9 = #311B92
$accent-color-10 = #B388FF
$accent-color-11 = #7C4DFF
$accent-color-12 = #651FFF
$accent-color-13 = #6200EA
