section#activity

	.gallery
		display: flex
		flex-wrap: wrap
		width: 100%
		justify-content: space-between
		margin: 30px 0

	.activity-card
		width: 50%
		min-width: 350px
		padding: 0 15px
		flex: 1
		margin: 20px 0
		display: flex
		flex-direction: column

	h3
		font-size: 25px
		font-weight: normal
		font-family: var(--mono-font-stack)
		margin-bottom: 10px

	.stats
		margin: 10px 0 20px 0
		font-size: 18px
		flex: 1

		p
			display: flex
			margin: 5px 0

		span.label
			flex: 1

		span.stat
			font-family: var(--mono-font-stack)
			font-weight: bold

	ul

		li
			display: flex
			height: 50px
			font-size: 18px
			align-items: center
			margin: 10px 0

			p
				height: 100%
				display: flex
				align-items: center

				&.rank
					padding-right: 10px

				&.name
					flex: 1
					padding: 0 10px
					display: flex
					justify-content: space-between

			img
				height: 100%

	a::after
		content: '↗'
		color: #666
		margin-left: 3px

	p.source
		margin-top: 10px
		font-size: 16px
		color: #757575

		a
			color: var(--accent-color-7)
