@charset "utf-8"

@import "variables"
@import "functions"
@import "universal"

body, html, :root
	// Variables
	--default-font-stack: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	--mono-font-stack: 'IBM Plex Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', 'Ubuntu Mono', Menlo, Courier, monospace;
	for color, index in $accent-colors
		--accent-color-{index}: color

	background: #fff
	width: 100%
	min-height: 100%
	font-family var(--default-font-stack)
	font-size 16px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-overflow-scrolling: touch
