footer
	max-width: 800px
	width: 100%
	padding: 2vh 0
	margin: 0 auto
	border-top: 3px solid #f1f1f1
	display: flex
	flex-direction: column
	align-items: center

	> *
		margin: 5px 0
		color: #555555
		line-height: 1.5

	img
		height: 22px
