nav
	width: 100%
	max-width: 1000px
	margin: 0 auto
	padding: 2vh 0 1vh 0
	color: var(--accent-color-9)
	opacity: 0.7
	transition: 0.1s opacity linear
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	a.nav__name
		display: flex
		margin: 0 calc(2vh - 10px)
		&:before
			display: none

		img
			height: 20px
			vertical-align: text-top
			margin-right: 10px

		span
			padding: 0 10px

	ul
		display: flex
		overflow-x: auto
		padding: 10px 2vh

		li
			list-style-type: none
			&:first-child a
				margin-left: 0

	a
		display: flex
		justify-content: center
		align-items: center
		margin: 5px 10px
		padding: 5px 10px
		font-weight: 500
		font-size: 18px
		anchorLinkBottomBar(35%, alpha($accent-colors[4], 0.1))
		white-space: nowrap

		&.nav__link--active::before
			border-bottom: 3px solid var(--accent-color-1)

	&:hover,
	&:focus-within
		opacity: 1
