nav
	width: 95%
	max-width: 800px
	margin: 2vh auto 0 auto
	display: flex
	font-family: var(--mono-font-stack)
	color: var(--accent-color-9)
	flex-wrap: wrap

	a
		display: flex
		justify-content: center
		align-items: center
		margin: 10px 7.5px
		padding: 5px 10px
		font-family: $mono-font-stack
		font-weight: bold
		font-size: 20px
		anchorLinkBottomBar(35%, alpha($accent-colors[4], 0.15))
