::selection
	background: #8bc34a30
	color: var(--accent-color-9)

*
	padding: 0
	margin: 0
	position: relative
	box-sizing: border-box
	text-rendering: optimizeLegibility

*.flex
	display: flex
	align-items: center
	justify-content: center

*.noselect
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

*.nodisplay
	display: none !important

a
	text-decoration: none
	color: inherit

	&:visited
		color: inherit 

a, button
	&:focus
		outline: 2px solid var(--accent-color-9)

h1, h2, h3, h4, h5, h6, strong
	font-weight: 500
