@require "../../stylesheets/base"
@import "../../stylesheets/nav"
@import "../../stylesheets/footer"

body
	display: flex
	flex-direction: column

main
	width: 100%
	margin: 0 auto
	padding: 2vh
	overflow: hidden
	max-width: 800px
	flex: 1

section
	margin: 7vh auto
	width: 100%

	h1
		font-size: 40px
		padding: 10px 0
		color: var(--accent-color-9)

	img
		position: absolute
		width: 40vh
		right: -50px
		top: -50px
		opacity: 0.1

	p
		color: #222
		font-size: 25px
		font-style: italic
		margin: 30px 0
