//- Include all common mixins
include ../../templates/common.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Blog · Mihir Chaturvedi',
			'Mihir\'s, or perhaps, plibither8\'s blog',
			'https://mihir.ch/blog'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/blog.css")

	body

		+nav('Blog')

		main

			section#intro

				include:markdown-it(html=true) ../../content/blog/_index.md

		//- Footer
		+footer()
