//- Head generator mixin
include ../../templates/head.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Blog · Mihir Chaturvedi',
			'Mihir\'s, or perhaps, plibither8\'s blog',
			'https://mihir.ch/blog'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/blog.css")

	body

		//- Navigation
		include ../../templates/nav.pug

		main

			section#intro

				img(src="/assets/img/muh.svg" alt="" draggable="false")

				include:markdown-it(html=true) ../../content/blog/_index.md

		//- Footer
		include ../../templates/footer.pug

	//- Load scripts after </body> and before </html>
	script(src="/assets/js/blog.js" defer)
