/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll-padding > :last-child {
  position: relative;
}

.horizontal-scroll-padding > :last-child:after {
  content: '';
  display: block;
  position: absolute;
  right: -1.75rem;
  width: 1.75rem;
  height: 1px;
}

#svelte-announcer {
  display: none;
}
