@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
html,
body,
:root {
  @apply bg-black-700;
}

a.fancy {
  @apply text-white relative;

  &.fancy::before {
    @apply absolute w-full h-full top-0 left-0 transition-transform ;
    content: '';
    transform: skew(-30deg, -2deg);
    background: #9e68ce4f;
  }

  &:hover,
  &:focus {
    &::before {
      transform: skew(0, 0);
    }
  }
}

/* purge end ignore */
