@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
html,
body,
:root {
  @apply bg-black-700;
}

a.link {
  @apply underline hover:text-purple-400;
}

::selection {
  @apply text-white;
  background: #b13eb14f;
}

/* purge end ignore */
