@require "stylus/base"

section.main
	width: calc(100% - 10px)
	height: calc(100% - 10px)
	margin: 0 auto
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	position: fixed
	top: 5px
	left: 5px
	background: #000
	overflow-y: auto

	@import "stylus/nav"

	.container
		width: 95%
		max-width: 800px
		margin: 0 auto
		padding: 10px

		h1
			font-size: 40px
			padding: 5vh 0 10px 0
			color: #984c6b

		p.caption
			font-size: 18px
			color: #666b

			span
				font-weight: bold
				font-size: 26px
				color: #c87c9e

		.intro

			h2
				font-size: 40px
				color: #82274d
				line-height: 1.5
				margin: 10vh 0

				span
					font-weight: normal
					font-size: 20px

				a
					color: #c87c9e
					border-bottom: 3px solid #c87c9e77
					&:hover
						color: #82274d
						border-color: #c87c9e

		.about

			p
				font-size: 20px
				line-height: 1.6
				color: #333
				margin: 20px 0

@import "stylus/borders"
