html(lang="en")

	include ./pug/head.pug

	body

		include ./pug/nav.pug

		div.main

			section.heading

				h1 Mihir Chaturvedi

				p.caption ...or perhaps,&nbsp;
					span plibither8
					| ...

			section.intro

				p In no particular order:
				p
					span UX develeper,
				p big-time&nbsp;
					span JavaScripter,
				p small-time&nbsp;
					span designer,
				p and full-time&nbsp;
					span student @&nbsp;
						a(href="https://iiitd.ac.in") IIIT Delhi
						| .

			section.about

				p Hi! I'm a design-minded developer from New Delhi, India. I focus on user interface, and building coherent, consistent and intuitive designs. For over three years, I've been making websites.

				p I am a highschool senior at Sanskriti School, New Delhi. Whenever I get time to, I try to learn (about) and keep pace with the evergrowing domain of web technology. Also, for whatever reason you fancy, I call myself plibither8.

				p Welcome to my humble abode on the internet
