@require "stylus/base"

@import "stylus/nav"

hr
	border: none
	width: 100%
	height: 3px
	background: #fceaf3
	margin: 7vh 0

div.main
	width: 95%
	max-width: 800px
	margin: 0 auto
	padding: 10px

section.heading
	margin: 7vh 0

	h1
		font-size: 40px
		padding-bottom: 10px
		color: #984c6b

	p.caption
		font-size: 18px
		color: #666b

		span
			font-weight: bold
			font-size: 26px
			color: #c87c9e

section.intro

	p
		max-width: 600px
		font-size: 20px
		line-height: 1.5
		color: #444
		margin: 20px 0

		span
			color: #984c6b
			font-style: normal

		&:not(.small) a
			color: #c87c9e
			border-bottom: 3px solid #c87c9e77
			&:hover
				color: #984c6b
				border-color: #c87c9e

		&.small
			margin-top: 10px
			font-size: 12px
			color: #aaa
			width: 100%
			background: #f7f7f7
			display: inline-block
			padding: 5px
			border-left: 3px solid #ddd

			span
				color: #c87c9e

			code
				letter-spacing: 1px

			button
				margin-left: 10px
				cursor: help
				border: none 
				background: none
				font-family: $default-font-stack
				color: inherit
				font-size: inherit
				text-decoration: underline dotted

				&:hover,
				&:focus
					color: #c87c9e

					&::after
						content: 'This means sarcasm just btw.'
						position: absolute
						min-width: 100px
						font-style: italic
						margin-left: 10px
						padding: 5px 5px 5px 10px
						background: #fceaf3
						border-left: 3px solid #ffbbdd
						color: #984c6b

section.projects

	h2
		color: #984c6b
		font-size: 30px

section.about

	p
		font-size: 20px
		line-height: 1.6
		color: #333
		margin: 20px 0
