include ./pug/head.pug

body

	section.background

	section.main.flex

		include ./pug/nav.pug

		.container

			h1 Mihir Chaturvedi

			p.caption ...or perhaps,&nbsp;
				span plibither8
				| ...

			.intro

				h2
					span In no particular order:
					br
					| UX develeper&nbsp;
					span of mostly websites till now,
					br
					|
					span big-time&nbsp;
					| JavaScripter,
					br
					|
					span small-time&nbsp;
					| designer,
					br
					span and full-time&nbsp;
					| student @ <a href="https://iiitd.ac.in">IIIT Delhi</a>.

			.about

				p Hi! I'm a design-minded developer from New Delhi, India. I focus on user interface, and building coherent, consistent and intuitive designs. For over three years, I've been making websites.

				p I am a highschool senior at Sanskriti School, New Delhi. Whenever I get time to, I try to learn (about) and keep pace with the evergrowing domain of web technology. Also, for whatever reason you fancy, I call myself plibither8.

				p Welcome to my humble abode on the internet

			//- div