html(lang="en")

	include ./pug/head.pug

	body

		include ./pug/nav.pug

		div.main

			section.heading

				h1 Mihir Chaturvedi

				p.caption ...or perhaps,&nbsp;
					span plibither8
					| ...

			section.intro

				p Hi there, and welcome to my humble abode on the internet!

				p I'm primarily a <span>UX developer</span>, big-time <span>JavaScripter</span>, small-time <span>designer</span> and a full-time <span>student @ <a href="https://iiitd.ac.in">IIIT Delhi</a>.</span>

				p.small Psst! I'm also a <span>"maker of things"</span>, <span>"coffee-lover"</span> and a <span><code>10x engineer</code></span>. <button>/s</button>

			hr

			section.projects

				h2 Projects

				

			hr

			section.about
