include ./pug/head.pug

body

	section.background

	section.main.flex

		include ./pug/nav.pug

		.container

			h1 Mihir Chaturvedi

			p.caption ...or perhaps,&nbsp;
				span plibither8
				| ...

			h2
				span In no particular order:
				br
				| UX develeper&nbsp;
				span of mostly websites till now,
				br
				|
				span big-time&nbsp;
				| JavaScripter,
				br
				|
				span small-time&nbsp;
				| designer,
				br
				span and full-time&nbsp;
				| student @ <a href="https://iiitd.ac.in">IIIT Delhi</a>.

			//- div