@require "stylus/base"

@import "stylus/nav"

hr
	border: none
	width: 100%
	height: 3px
	background: #fceaf3
	margin: 7vh auto
	max-width: 800px

main
	width: 95%
	margin: 0 auto
	padding: 10px
	overflow-x: hidden

section.heading
	margin: 7vh auto
	width: 100%
	max-width: 800px

	h1
		font-size: 40px
		padding: 10px 0
		color: #984c6b

	p.caption
		font-size: 18px
		color: #666b

		span
			font-weight: bold
			font-size: 26px
			color: #c87c9e

	img
		position: absolute
		width: 40vh
		right: -50px
		top: -50px
		opacity: 0.1

section.intro
	margin: 0 auto
	width: 100%
	max-width: 800px

	p:not(.small)
		max-width: 600px
		font-size: 20px
		line-height: 1.5
		color: #444
		margin: 20px 0

		span
			color: #984c6b
			font-style: normal

		a
			color: #c87c9e

			&::before
				content: ''
				height: 35%
				width: 100%
				background: #c87c9e36
				position: absolute
				bottom: 0px
				transition: 0.1s all linear

			&:hover
				color: #984c6b
				&::before
					height: 100%

	p.small
		margin-top: 10px
		font-size: 12px
		color: #aaa
		width: 100%
		background: #f7f7f7
		display: inline-block
		padding: 5px
		border-left: 3px solid #ddd
		max-width: 650px

		span
			color: inherit

		code
			letter-spacing: 1px

		button
			margin-left: 10px
			cursor: help
			border: none 
			background: none
			font-family: $default-font-stack
			color: inherit
			font-size: inherit
			text-decoration: underline dotted

			&:hover,
			&:focus
				color: #c87c9e

				&::after
					content: 'Sarcastic and satirical. No harm meant. Maybe.'
					position: absolute
					min-width: 100px
					margin-left: 10px
					padding: 5px 5px 5px 10px
					background: #fceaf3
					border-left: 3px solid #ffbbdd
					color: #984c6b
					line-height: 1.3

section.projects
	max-width: 1300px
	width: 100%
	margin: 0 auto

	h2
		color: #984c6b
		font-size: 40px

	.gallery
		display: flex
		flex-wrap: wrap
		justify-content: space-around

	.card
		margin: 40px 10px
		width: 100%
		max-width: 500px

		> a
			display: block

			img
				margin: 0 auto 20px auto
				display: block
				max-height: 200px
				min-height: 50px
				max-width: 100%

			h3
				font-size: 28px
				color: #c87c9e

				&::after
					content: '↗'
					color: #fce9f4

			&:hover, &:focus
				color: #984c6b

				h3::after
					color: inherit

		.meta
			display: flex
			align-items: center
			overflow-x: auto

			time
				white-space: nowrap
				font-size: 18px
				color: #888

			.tags
				display: flex
				margin-left: 10px

				span
					padding: 5px
					margin: 0 5px
					font-size: 14px
					border-radius: 5px

		p.caption
			font-size: 20px
			color: #555
			margin: 10px 0
			line-height: 1.5
			font-style: italic

			span
				font-style: normal

		p.details
			font-size: 16px
			color: #333
			line-height: 1.5
			padding-top: 10px

			a
				color: #984c6b

				&::before
					content: ''
					height: 35%
					width: 100%
					background: #c87c9e36
					position: absolute
					bottom: 0px
					transition: 0.1s all linear

				&:hover
					&::before
						height: 100%

			span.hidden
				display: none
			
			button
				border: none
				background: none
				font-family: $default-font-stack
				color: #c87c9e
				font-size: 20px
				font-weight: bold
				cursor: pointer

		@media only screen and (max-width: 1000px)
			margin: 40px 0

section.about

	p
		font-size: 20px
		line-height: 1.6
		color: #333
		margin: 20px 0
