doctype html

html(lang="en")

	include ./pug/head.pug

	body

		//- Navigation
		include ./pug/nav.pug

		main

			//- Heading
			include ./pug/sections/heading.pug

			//- Intro
			include ./pug/sections/intro.pug

			hr

			//- Recent Activity
			include ./pug/sections/activity.pug

			hr

			//- Featured Projects
			include ./pug/sections/projects.pug

			hr

			//- Contact
			include ./pug/sections/contact.pug

		//- Footer
		include ./pug/footer.pug
