section#activity

	h2 🕒 Recent Activity

	p Sundry statistics for this week in music and programming, passively collected in the background. I'm a data hoarder, so be it <span class='nowrap'>ヽ(`Д´)ﾉ</span>.
	p.sub PS: This updates at most every 24 hours, it's not really <em>live</em>.

	.gallery

		.activity-card#programming

			h3 Programming
				span , this week in

			.stats

				p
					span.label Total time
					span.stat

				p
					span.label Daily average
					span.stat

			ul

			p.source Source:&nbsp;
				a(href="https://wakatime.com/@plibither8") WakaTime

		.activity-card#music

			h3 Music
				span , this week in

			.stats

				p
					span.label Total track scrobbled
					span.stat 

			ul

			p.source Source:&nbsp;
				a(href="https://last.fm/user/plibither8") Last.fm
