section#activity

	h2 💻 Recent Activity

	.gallery

		.activity-card#music

			h3 Music

			.stats

				p
					span.label Total Tracks Scrobbled
					span.stat 

			ul.artists

		.activity-card#programming

			h3 Programming
