section#activity

	h2 💻 Recent Activity

	.gallery

		.activity-card#programming

			h3 Programming

			.stats

				p
					span.label Total time
					span.stat

				p
					span.label Daily average
					span.stat

			ul

		.activity-card#music

			h3 Music

			.stats

				p
					span.label Total track scrobbled
					span.stat 

			ul
