//- Head generator mixin
include ../../templates/head.pug
//- Navigation
include ../../templates/nav.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(
			'Thanks · Mihir Chaturvedi',
			undefined,
			'https://mihir.ch/projects'
		)

		// Styles
		link(rel="stylesheet" href="/assets/css/thanks.css")

	body

		+nav()

		main

			section

				include:markdown-it(html=true) ../../content/thanks.md

		//- Footer
		include ../../templates/footer.pug
