@require "../../stylesheets/base"
@import "../../stylesheets/nav"
@import "../../stylesheets/footer"

section
	h2
		font-size: 24px
		margin: 40px 0 20px 0
		border-bottom: 1px solid var(--accent-color-1)
		padding-bottom: 5px
		color: #333

	p, li
		color: #222
		font-size: 18px
		margin: 30px 0
		line-height: 1.5

		a
			text-decoration: underline
			color: var(--accent-color-7)

	li
		margin: 5px 0
		list-style-type: circle
		list-style-position: inside

	.badges
		display: flex
		align-items: center
		justify-content: space-around
		justify-content: space-evenly
		flex-wrap: wrap

		img
			max-width: 220px
			width: fit-content

		a
			margin: 10px 0
